@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Qatar2022 arabic", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box !important;
}

h1 {
  font-size: 30px;
  text-align: center;
  @apply md:text-[48px];
}

h2 {
  font-size: 24px;
  @apply md:text-[36px];
}

h3 {
  font-size: 16px;
  line-height: 16px;
  @apply md:text-2xl;
}

.h3-text h3 {
  font-size: 24px !important;
}

h5 {
  @apply text-gray-200;
}

.result h2 {
  font-size: 32px;
  line-height: 32px;
  @apply md:text-[56px] md:leading-[56px];
}

.team-name {
  font-size: 12px;
  line-height: 14px;
  @apply md:text-lg;
}

.gg-chevron-up {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
}

.gg-chevron-up::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(-45deg);
  left: 4px;
  bottom: 2px;
  border-color: white;
}

/* ------------------------------ Global styles ----------------------------- */

.stages-container {
  @apply text-center mb-4;
}
.stages-wrapper {
  @apply flex flex-wrap justify-center gap-4;
}
.stage-header {
  font-size: 18px;
  margin-bottom: 1rem;
  @apply md:text-[32px];
}

.carousel .mantine-Carousel-control {
  opacity: 0;
  transition: 0.3s ease;
}
.carousel:hover .mantine-Carousel-control {
  opacity: 1;
}

.mantine-Carousel-control {
  @apply bg-third text-white border-none shadow-md;
}

.mantine-Carousel-indicator {
  @apply bg-gray-500;
}

.mantine-Accordion-chevron {
  display: none;
}

.standings td {
  white-space: nowrap;
}

.scroll-Btn {
  box-shadow: -1px 3px 18px #00000036;
  position: fixed;
  bottom: 30px;
  left: 20px;
  @apply bg-primary hover:bg-secondary;
}

/* ------------------------------- media query ------------------------------ */
